We obtained average rating csv from MySQL workbench.

This is achieved by running the following SQL query:

```mysql
SELECT 
    asin, AVG(overall)
FROM
    readme_sql.Kindle
GROUP BY asin;
```

Then export the resulting file into a .csv file: `avg_rating.csv`.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Raw/avg_rating.csv')

In [3]:
df

              asin  AVG(overall)
0       B000F83SZQ        4.2500
1      B000F83SZQa        3.0000
2       B000FA64PA        4.2000
3       B000FA64PK        4.3750
4       B000FA64QO        3.8000
...            ...           ...
61930   B00LZFHL7Y        4.7500
61931   B00LZKMXBI        4.8133
61932   B00M029T4O        4.9091
61933   B00M0RE7CS        4.9655
61934   B00M13FNSS        4.8571

[61935 rows x 2 columns]

# Load the metadata with titles from 2nd notebook

In [8]:
dftitles = pd.read_json('Output/metadata_with_title.json', lines=True)

In [10]:
dftitles.head()

,asin,description,price,imUrl,related,categories,salesRank,brand,title
0,1603420304,In less time and for less money than it takes ...,7.69,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...","[[Books, Cookbooks, Food & Wine, Quick & Easy]...",None,None,None
1,B0002IQ15S,This universal DC adapter powers/charges porta...,19.99,http://ecx.images-amazon.com/images/I/21QFJM28...,"{'also_viewed': ['B00511PS3C', 'B000PI17MM', '...","[[Kindle Store, Kindle Accessories, Power Adap...",{},None,None
2,B000F83SZQ,None,0.00,http://ecx.images-amazon.com/images/I/51yLqHe%...,"{'also_bought': ['B0080H1C0W', 'B00LK4ZKOG', '...","[[Books, Literature & Fiction], [Books, Myster...",None,None,A Matter of Policy [An Amy Brewster Mystery]
3,B000F83TEQ,None,NaN,http://ecx.images-amazon.com/images/I/2136NBNV...,"{'also_bought': ['B00IS81LFO', 'B000FA5T6A', '...","[[Books, Literature & Fiction], [Books, Myster...",None,None,Gold Coffin Murder Case
4,B000F83STC,None,NaN,http://g-ecx.images-amazon.com/images/G/01/x-s...,None,"[[Books, Literature & Fiction, Erotica], [Kind...",None,None,Erotic Flowers

# Merge the 2 dataframes together

In [13]:
print(f"There's only {len(df)} distinct books referenced in Kindle reviews, versus the number of distinct books ({len(dftitles)}) in the metadata.")

There's only 61935 distinct books referenced in Kindle reviews, versus the number of distinct books (434972) in the metadata.

In [15]:
dfout = dftitles.merge(df, left_on='asin', right_on='asin', how='left')

In [16]:
dfout.rename(columns={'AVG(overall)':'avg_rating'}, inplace=True)

In [17]:
dfout

,asin,description,price,imUrl,related,categories,salesRank,brand,title,avg_rating
0,1603420304,In less time and for less money than it takes ...,7.69,http://ecx.images-amazon.com/images/I/51IEqPrF...,"{'also_viewed': ['B001OLRKLQ', 'B004J35JIC', '...","[[Books, Cookbooks, Food & Wine, Quick & Easy]...",None,None,None,NaN
1,B0002IQ15S,This universal DC adapter powers/charges porta...,19.99,http://ecx.images-amazon.com/images/I/21QFJM28...,"{'also_viewed': ['B00511PS3C', 'B000PI17MM', '...","[[Kindle Store, Kindle Accessories, Power Adap...",{},None,None,NaN
2,B000F83SZQ,None,0.00,http://ecx.images-amazon.com/images/I/51yLqHe%...,"{'also_bought': ['B0080H1C0W', 'B00LK4ZKOG', '...","[[Books, Literature & Fiction], [Books, Myster...",None,None,A Matter of Policy [An Amy Brewster Mystery],4.25
3,B000F83TEQ,None,NaN,http://ecx.images-amazon.com/images/I/2136NBNV...,"{'also_bought': ['B00IS81LFO', 'B000FA5T6A', '...","[[Books, Literature & Fiction], [Books, Myster...",None,None,Gold Coffin Murder Case,NaN
4,B000F83STC,None,NaN,http://g-ecx.images-amazon.com/images/G/01/x-s...,None,"[[Books, Literature & Fiction, Erotica], [Kind...",None,None,Erotic Flowers,NaN
...,...,...,...,...,...,...,...,...,...,...
434967,B00M111QCM,None,NaN,http://ecx.images-amazon.com/images/I/51D8m1ml...,None,"[[Books, Business & Money, Industries & Profes...",None,None,How NOT to suck at hiring people using craigslist,NaN
434968,B00M0AEPXG,None,NaN,http://ecx.images-amazon.com/images/I/51hcXTUe...,None,"[[Books, Politics & Social Sciences, Women's S...",None,None,How to Be a Queen,NaN
434969,B00LZFHL7Y,None,0.99,http://ecx.images-amazon.com/images/I/41RDitlH...,"{'also_bought': ['B00LXK4KIO', 'B00LZ19FE0', '...","[[Books, Literature & Fiction, Erotica], [Kind...",None,None,Restoring Hope,4.75
434970,B00LV8M74W,None,3.99,http://ecx.images-amazon.com/images/I/51qUjk4b...,"{'also_bought': ['B00LYOC1R6', 'B00L0WXZIG', '...","[[Books, Literature & Fiction, Genre Fiction, ...",None,None,Contagious,5.00
434971,B00LV8STE4,None,NaN,http://ecx.images-amazon.com/images/I/51l7MLl%...,None,"[[Books, Arts & Photography, Music, Musical Ge...",None,None,Runnin' With The Big Dogs,NaN

# Export the merged dataframe

In [19]:
dfout.to_json('Output/kindle_metadata_with_title_and_avgrating.json', orient='records', lines=True)